POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
POSTGRES_DB=expressinhost
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET_KEY=xxx
MAIL_USERNAME=xxx
MAIL_PASSWORD=xxx
MAIL_ADDRESS=xxx
REDIS_HOST=localhost
REDIS_PORT=6379