@import './pico.css';
@import './sequences.css';

:root {
  --pico-font-size: 100%;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 12em;
    padding-right: 12em;
  }
}

.flex-container {
  display: flex;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
