@import './pico.css';

:root {
  --pico-font-size: 100%;
}

.flex-container {
  display: flex;
}

.in-seq {
  background-color: #db5050;
}

.out-seq {
  background-color: #41a741;
}

@media (prefers-color-scheme: dark) {
  .in-seq {
    background-color: #a52a2a;
  }

  .out-seq {
    background-color: #008000;
  }
}
