.input-sequence > .modified-codon {
  background-color: #db5050;
  z-index: 1;
}

.output-sequence > .modified-codon {
  background-color: #41a741;
}

@media (prefers-color-scheme: dark) {
  .input-sequence > .modified-codon {
    background-color: #a52a2a;
    z-index: 1;
  }

  .output-sequence > .modified-codon {
    background-color: #008000;
  }
}

.codon:hover {
  opacity: 0.8;
}

.codon[data-tooltip] {
  cursor: default;
  border-bottom: none;
}
